html, body {
	/*background: rgb(250, 236, 246); /*very light pink*/
    background: url("../images/paper_texture.jpg");
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: rgb(18, 80, 18);
}
body {
	font-family: Verdana, Geneva, sans-serif, Arial, Helvetica;
	font-size: 100%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
    margin-top: 60px;
	padding: 2.5% 2.5% 0;
	background: white;
	line-height: 1.8;
}
h1 {
	font: 1.6em Verdana, Geneva, sans-serif;
	margin-bottom: .4em;
	color: rgb(28, 74, 32);
}
h2 {
	font: 3.2em Georgia, "Times New Roman", Times, serif;
	margin-bottom: .2em;
}
h3 {
	font-size: 1.2em;
	margin-top: 2em;
}
p {
	margin-bottom: 1em;
}
a {
	color: rgb(184, 126, 84);
}
a:hover {
	color: rgb(120, 97, 55);
}
pre {
	font-size: 1.4em;
	color: white;
	padding: .5em 1em;
	border-left: 1em solid #A68048;
	background: #666;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	width: 80%;
}
pre.wrong {
	border-left-color: red;
}
pre.correct {
	border-left-color: green;
}
dt {
	font-style: italic;
	font-size:1.2em;
}
dd {
	margin-bottom: 1.4em;
}
table {
	margin-top: 1em;
}
caption {
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
	text-align: left;
}
td, th {
	padding: 10px;
}
.center {
	text-align: center;
}
header h2 {
    /*padding-top: .1em;*/
	padding-bottom: .4em;
	border-bottom: 1px solid gray;
}
aside {
	padding: 1em;
	background:rgb(83, 104, 138);
	color: white;
	margin-bottom: 1em;
}
aside h4 {
	color: white;
}
footer {
	border-top: 1px solid gray;
	text-align: center;
	font-size: .8em;
	line-height: 4em;
	margin-top: 2em;
	clear: both; /*Clears floated elements as the images were extending below the footer line. Don't allow them to push footer down and around.*/
}
blockquote {
	font-style: italic;  
}
.flowRight {
	float: right;
	margin-left: 10px;
}
.flowLeft {
	float: left;
	margin-right: 10px;
}
/* For navigation*/
/*Class selectors, targets elements with class = "top-nav"*/
.top-nav {
    background: rgb(52, 121, 70);
    position: fixed; /*Fixed nav position during scrolling*/
    top: 0;
    left: 0;
    width: 100%; /*Top, left, width -> Places nav in the top left corner and ensure it spans width of entire screen*/
    z-index: 1000; /*A high z-index helps make sure nav doesn't get covered by other elements*/
}
.top-nav ul {
    list-style: none; /*Removes bullet points*/
    margin: 0;
    padding: 0; /*Gets rid of default spacing from list*/
    display: flex; /*Puts items into a flexible row, without this it'd appear as a column*/
    justify-content: center; /*Centers the content (li elements) horizontally*/
}
.top-nav li { /*for li elements*/
    margin: 0;
}
.top-nav a { /*for link elements in top nav*/
    display: block; /*gives full width and height for block elements*/
    padding: 1em; /*Space inside link, we can make clickable area bigger*/
    color: white;
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}
.top-nav a:hover { /*Changes background of blocks and text when hovering over elements with top-nav*/
    background: grey;
    color: black;
}
/*For hero heading*/
.hero-header {
    background: url("../images/Hero-Header2.png") no-repeat center center; /*Gets image, has single instance of image, center horizontally + vertically*/
    background-size: cover; /*Cover container*/
    height: 105vh; /*Viewport height*/
    display: flex; /*Flexbox to help center content*/
    align-items: center;
    justify-content: center;
}
.hero-content {
    text-align: center;
    padding: 2em;
    background: rgba(0, 0, 0, 0.6); /* semi-transparent background */
	/*Rounds out the border*/
    border-radius: 30px;
}
/*Selectors for styling content within the hero-header*/
.hero-content h1 {
    font-size: 1.6em;
    margin-bottom: 0.2em;
	color: white;
}

.hero-content h2 {
    font-size: 3.2em;
    font-weight: normal;
	color: white;
}
/*Photo in a "gallery-like" style*/
.gallery {
	margin-bottom: 1;
}
.gallery-grid {
	display: grid;
	grid-template-columns: repeat(3,1fr); /*3 equal columns*/
	gap: 1em;
}
.gallery-grid img {
	width: 100%;
	height: 400px;;
	object-fit: cover; /*crop image to nicely fill in space*/
}
/*For details and summary*/
details {
	border: 1px solid #053717;
	/*background-color: rgb(174, 242, 174);*/
	background: url("../images/linedPaper.jpg");
	border-radius: 4px;
	padding: 0.5em 0.5em 0;
}
/*Element #1- Summary. Must be used within <details>
What is it? Specifies a summary, caption, legend, etc. for the detail element's disclosure box.
Clicking the summary element toggles the state of <details>.
How it's used? I'm using it as a small disclosure as to what this website is for, why I chose this topic, etc.*/
summary {
	font-weight: bold;
	margin: -0.5em -0.5em 0; /*Pulls summary text up and out to sides, no bottom margin*/
	padding: 0.5em; /*Adds the space inside summary*/

}

details[open] {
	padding: 0.2em;
}

details[open] summary {
	border-bottom: 1px solid #aaaaaa; /*Adds a line below summary when expanded*/
	margin-bottom: 0.5em;
}
/*Element #2- Table. Includes a variety of attributes to go along with it.
What is it? Represents tabular data with information presented in a 2d table.
How it's used? I'm using it to show a breakdown of my top 3 favorite eats from this summer*/
table {
	border-collapse: collapse;
	border: 2px solid rgb(140 140 140);
	font-family: sans-serif;
	font-size: 0.8rem;
	letter-spacing: 1px;
}

caption {
	caption-side: bottom;
	padding: 10px;
	font-weight: bold;
}

thead,
tfoot {
	background-color: rgb(228 240 245);
}

th,
td {
	border: 1px solid rgb(160 160 160);
	padding: 8px 10px;
}

td:last-of-type {
	text-align: center;
}

tbody > tr:nth-of-type(even) {
	background-color: rgb(237 238 242);
}

tfoot th {
	text-align: right;
}

tfoot td {
	font-weight: bold;
}


